<!DOCTYPE HTML>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="~/assets/css/main.css" />
</head>
<body class="homepage is-preload">
    <div id="page-wrapper">

        <cache expires-after="@TimeSpan.FromMinutes(5)">
        </cache>

        @RenderBody()

        <cache expires-after="@TimeSpan.FromMinutes(5)">
           
        </cache>
    </div>
</body>
</html>