<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<rewrite>
			<rules>
				<rule name="Settings handler">
					<match url="http://localhost:5000/" />
					<action type="Rewrite" url="http://localhost:5000/" />
				</rule>
				<rule name="Serve subdir">
					<match url=".*" />
					<action type="Rewrite" url="http://localhost:3000/{R:0}" />
					<conditions logicalGrouping="MatchAll">
						<!--Add exception for requests to Content Delivery API-->
						<add input="{HTTP_Accept}" pattern="application\/json" negate="true" />
						<!--Add exceptions for our settings.json-->
						<add input="{URL}" pattern="http://localhost:5000/" negate="true" />
						<add input="{URL}" pattern="http://localhost:5000/" negate="true" />
					</conditions>
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>